/*
Version: 17.11.17GA

<HEAD><LINK REL="stylesheet" TYPE="text/css" HREF="system.css"></HEAD>

SECTION/ARTICLE/DIV ID naming: div_xyz ('_':s)

*/

html {   box-sizing:border-box; }*,*:before,*:after{box-sizing:inherit}
body {   margin:0px; padding:0px; z-index:1; font-family:Verdana,sans-serif;}
iframe { border-style: none; border-width: thin; height:100%; width:100%; }
div {    z-index:100; }
br {     clear:left; }
form {   display:inline; }
select { border:none; overflow:visible; background-color: transparent; color: black; font-size:11px; }
input {  border:none; overflow:visible; background-color: transparent; color: black; font-size:11px; }
pre {    margin:0px; }
details{ display:inline; }
span {   font-size:11px; }
ul {     list-style-type:none; margin:0px ;padding:0px; overflow:hidden; }
li {     display:inline-block; }

/*###################################### Content Model ########################################*/

.background {   background-color: #9CA6B0; }
header {        position:fixed; height:75px;          width:100%; padding-left:5px; }
main {          position:fixed; top:75px; bottom:0px; width:100%}

nav {           clear:both; font-size:14px; height:34px; background-color:#808D99; display:block;}
nav ul {        overflow:hidden; }
nav li {        height:34px; float:left; }
nav li a {      padding:8px; outline:none; font-weight:normal; display:inline-block; position:relative; text-align:center; color:#FFFFFF; cursor:pointer; }
nav li a:hover{ color:#000000; background-color:#D5D9DD;}
nav li a.reload {   background-image: url(images/btn-nav-reload.png); background-position: center; background-repeat: no-repeat; background-size: contain; width:34px; margin: 0px 10px; height:100%; } 
nav li.navinfo {  background-color:#00CC66;       font-weight:bold; color:#FFFFFF }
nav li.dropdown:hover .dropdown-content{ display:block; }
nav div.dropdown-content { display:none; position: absolute; background-color: #808D99; min-width: 60px; overflow:auto; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 10000; }
nav div.dropdown-content > a { display:block; text-align:left; }

section.content {       position:absolute; top:34px; bottom:0px; width:100%;  box-sizing: border-box; overflow: auto; clear:both;}
section.content-left {  position:absolute; top:0px;  bottom:0px; width:400px; overflow-y:auto; overflow-x:hidden; }
section.content-right { position:absolute; top:0px;  bottom:0px; right:0px; left:400px; overflow: auto; }

article {        border-radius: 6px; background-color:#F3F3F3; margin: 3px; overflow:hidden; padding:6px 2px 6px 2px; width:auto; }
article:hover {  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 18px 0 rgba(0,0,0,0.19) }      
article > p:first-child { font-weight: bold; text-align:center; margin:4px 0px 4px 0px;}
article.info {   resize:horizontal; margin-left:0px; width:500px; }
article.login {  border:solid 1px black; width:600px; height:180px;}

details.web { font-family: "Courier New", serif; font-size: 12px; margin: 0px; }
details.web > summary { font-weight:bold; }
details.web > details { display:block; }

/*############################### Tables #####################################*/ 

article > form > div.table { width:99%; }
article > div.table {        width:99%; }
div.table {            display: table; counter-reset:ztable; }
div.table .thead {     display: table-header-group; }
div.table .thead .th { display: table-cell; vertical-align: middle; font-weight: bold; text-align: center; font-size: 14px; padding: 0px 2px 6px 4px; }
div.table .tbody {     display: table-row-group; }
div.table .tbody .tr { display: table-row; line-height:22px; counter-increment:ztable; font-size:11px; }
div.table .tbody .tr:nth-child(even) { background-color: #FFFFFF; }
div.table .tbody .tr:nth-child(odd)  { background-color: #F3F3F3; }
div.table .tbody .tr .td { display:table-cell; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:0px 0px 0px 6px; }
div.table .tfoot {     display: table-footer-group; }

article.info div.td::first-child { font-weight:bold; }
article.info div.td::last-child { width:100%; }
div.td > select,input[type='text'],input[type='url'] { width:99%; -webkit-appearance: none; }
div.td > input:-moz-read-only { font-style:italic; }
div.td > input:read-only {      font-style:italic; }
div.td > input:-webkit-input-placeholder { color: darkgrey; }
div.td > input:-moz-placeholder {          color: darkgrey; opacity:1; }
div.controls { font-size:5px; }

/*#############################################################################*/

.warning {     background-color:red!important; font-weight:bold; color:#FFFFFF }
.right   {     float:right!important; }
.border {      border:solid 1px black; }
.small-text {  font-size:9px; }
.centered {    align-items:center; justify-content:center; display:flex; flex-wrap:wrap }
.machine-text { font-family: "Courier New", serif; font-size: 12px; margin: 0px; }

.blue {  background-color:#33CAFF!important; }
.red {   background-color:#DF3620!important; }
.green { background-color:#00CC66!important; }
.orange {background-color:orange!important;  }
.white { background-color:#FFFFFF!important; }
.grey {  background-color:#9CA6B0!important; }

div.rack-indx { font-weight:bold; font-size:8px; color:grey; padding:2px; }
div.rack-data { border: solid 2px grey; font-size:12px; text-align:center;}

span.results { font-size:9px; float:right; text-overflow:ellipsis; overflow:hidden; font-family: Verdana,sans-serif; }

/*################################ JS tools ####################################*/

.highlight { border: 1px solid #33CAFF }

div.overlay { position: absolute; top:0px; bottom: 0px; left: 0px; right: 0px; z-index:100000; display:flex; justify-content:center; align-items:center; overflow:hidden; background-color: rgba(0,0,0,0.2); }

div.loader {  border: 16px solid #D5DADD; border-radius: 50%; border-top: 16px solid #5C6870; width: 80px; height: 80px; -webkit-animation: spin 1.4s linear infinite; animation: spin 1.4s linear infinite; z-index:1001; }
 /* Spin properties */
 @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } 
}

[draggable] { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; cursor:move!important; -webkit-user-drag: element; -khtml-user-drag: element; }

li.drag {        position: relative; }
li.drag:after {  content: ''; top: 0; left: 0; right: 0; bottom: 0; position: absolute; }
ul.drop {        -ms-touch-action: none; touch-action: none; display:flex; flex-wrap:wrap; min-height:20px; width:100%;}
ul.drop li {     font-size:11px; }
ul.vertical {    display:block!important; }
ul.vertical li { display:table!important; }

/*################################ Common ###################################*/

.z-op {  outline:none; cursor:pointer; z-index:10000;}

a{        color:#000000; background-color:transparent;-webkit-text-decoration-skip:objects; text-decoration:none; font-weight:bold; }
a:active,a:hover{ outline-width:0; }

button,a.btn { -webkit-text-decoration-skip:objects; text-decoration:none; font-weight:bold; background-color:#FFFFFF; background-position: center; background-repeat: no-repeat; border-radius:4px; border: 1px solid #ccc; display: inline-block; font-family: "Courier New", serif; font-size: 20px; vertical-align:top; outline:none; overflow:hidden; text-align:center; text-decoration:none!important; white-space:nowrap; padding:2px; margin:2px; -webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s; transition:background-color .25s,color .15s,box-shadow .15s .15s,opacity .25s,filter .25s,border .15s; }
button:hover,a.btn:hover { outline-width:0; box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 18px 0 rgba(0,0,0,0.19); font-weight: bold; border: 1px solid black;}

button.menu, a.menu {  height: 52px; min-width:52px; float:left; border-radius: 8px!important; padding: 4px; margin: 5px 2px; }
button.menu > img,a.menu > img{  max-height:43px; }

button.small { height: 24px; width: 24px; margin:0px; font-size:9px; padding:0px;}
button.small > img { height:22px; }

button.low {   height: 24px; width: 24px; position: relative; bottom: -26px; padding:0px; }

button.ipam {  height: 24px; width: 24px; font-size:9px; float:left; font-family: Verdana,sans-serif;}

/*################################ Inframe munin ####################################*/
div#header { display:none; }
div#footer { display:none; }
div#nav    { display:none; }
div#content { margin-left: 20px; }
div#content > h2{ display:none; }
