/* Main System CSS 

Use a theme together with this one to get proper color end result

Hint: https://htmlcolorcodes.com/color-picker

SECTION -> ARTICLE -> DIV ID naming: div_xyz ('_':s)

Back:   #F1F1F1
Content:#FFFFFF 

*/

* {      box-sizing: border-box; }
body {   margin:0px; padding:0px; z-index:1; font-family:Verdana,sans-serif;}
iframe { border-style: none; border-width: thin; height:100%; max-width:100%; }
div {    z-index:100; }
br {     clear:left; }
form {   display:inline; }
select { border:none; overflow:visible; background-color: transparent; color: #000000; font-size:11px; }
input {  border:none; overflow:visible; background-color: transparent; color: #000000; font-size:11px; }
pre {    margin:0px; }
details{ display:inline; }
span {   font-size:11px; }
ul {     list-style-type:none; margin:0px ;padding:0px; overflow:hidden; }
li {     display:inline-block; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}

/*###################################### Content Model ########################################*/

section.content {       position:absolute; top:34px; bottom:0px; width:100%;  overflow: auto; clear:both;}
section.content-left {  position:absolute; top:0px;  bottom:0px; width:33%; overflow-y:scroll; overflow-x:hidden; }
section.content-right { position:absolute; top:0px;  bottom:0px; right:0px; left:33%; overflow: auto; }

article {        border-radius: 2px; background-color:#FFFFFF; margin: 3px; overflow:hidden; padding:6px 2px 6px 2px; width:auto; }
article:hover {  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2); }
article > p:first-child { font-weight: bold; text-align:center; margin:4px 0px 4px 0px; white-space:nowrap; text-overflow:ellipsis; }

article.info { resize:horizontal; margin-left:0px; width:max-content; z-index:101;}
div.info { display:grid; margin:2px 0px 2px 0px; }
div.col2 { grid-template-columns: max-content auto;}
div.col3 { grid-template-columns: max-content auto max-content;}
div.info > div { font-size:11px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:3px 0px 3px 6px; font-style:italic;}
div.col2 > div:nth-child(2n-1) { font-weight:bold; font-style:normal; }
div.col3 > div:nth-child(3n-2) { font-weight:bold; font-style:normal; }

div.info div[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
div.info div > select,input[type='text'],input[type='url'],input[type='date'] { width:99%; -webkit-appearance: none; border:solid 1px; border-color:transparent; border-bottom:dotted 1px #F1F1F1; font-style:normal;}
div.info div > input:-moz-read-only { font-style:italic; }
div.info div > input:read-only {      font-style:italic; }
div.info div > input:-webkit-input-placeholder { color: #9CA6B0; }
div.info div > input:-moz-placeholder {          color: #9CA6B0; opacity:1; }
div.heading { font-weight:bold; text-align:center;}

article.login {  border:solid 1px #9CA6B0; width:auto; height:auto;}

details.web { font-family: "Courier New", serif; font-size: 12px; margin: 0px; }
details.web > summary { font-weight:bold; }
details.web > details { display:block; }

/*############################### Tables #####################################*/ 

article > form > div.table { width:99%; }
article > div.table {        width:99%; }
div.table {            display: table; }
div.table .thead {     display: table-header-group; }
div.table .thead > div { display: table-cell; vertical-align: middle; font-weight: bold; text-align: center; font-size:0.9em; padding: 3px 2px 6px 4px; }
div.table .tbody {     display: table-row-group; }
div.table .tbody > div { display: table-row; font-size:11px; }
div.table .tbody > div:nth-child(even) { background-color: #FFFFFF; }
div.table .tbody > div:nth-child(odd)  { background-color: #F1F1F1; }
div.table .tbody > div > div { display:table-cell; vertical-align: middle; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:3px 0px 3px 6px;}
div.table .tfoot {     display: table-footer-group; }


article.info div.table .tbody > div > div:first-child { font-weight:bold; }
article.info div.table .tbody > div > div[title]:first-child { text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
article.info div.table .thead > div > div[title]:first-child { text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
article.info div.table .tbody > div > div:last-child { width:100%; }
div.table .tbody > div > div > select,input[type='text'],input[type='url'],input[type='date'] { width:99%; -webkit-appearance: none; }
div.table .tbody > div > div > input:-moz-read-only { font-style:italic; }
div.table .tbody > div > div > input:read-only {      font-style:italic; }
div.table .tbody > div > div > input:-webkit-input-placeholder { color: #9CA6B0; }
div.table .tbody > div > div > input:-moz-placeholder {          color: #9CA6B0; opacity:1; }

/*#############################################################################*/

.title {       text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed; }
.maxed {       width:99%; }
.right   {     float:right!important; }
.small-text {  font-size:9px; }
.inline {      display:inline; }
.centered {    align-items:center; justify-content:center; display:flex; flex-wrap:wrap }
.machine-text { font-family:Courier New, serif; font-size: 12px; margin: 0px; }

div.rack-indx { font-weight:bold; font-size:8px; color:grey; padding:2px; }
div.rack-data { border: solid 2px grey; font-size:12px; text-align:center;}

label { font-size:11px; font-weight:bold; }

span.results { font-size:9px; float:right; text-overflow:ellipsis; overflow:hidden; font-family: Verdana,sans-serif; }

div.rest { float:left; margin-left:1px; margin-top:1px; border:solid 1px #9CA6B0; }
div.rest > div:first-child { font-weight:bold; background-color:#9CA6B0!important; }
div.rest > div { min-width:100px; white-space:normal; }

div.network { width:100%; height:500px; }

div.state { border: 1px solid #9CA6B0; border-radius:16px; height:16px; width:16px; display:inline-block; }
 
/*################################ JS tools ####################################*/

div.overlay { position: absolute; top:0px; bottom: 0px; left: 0px; right: 0px; z-index:10000; display:flex; justify-content:center; align-items:center; overflow:hidden; background-color: rgba(0,0,0,0.2); }
div.loader {  border: 16px solid #D5DADD; border-radius: 50%; border-top: 16px solid #5C6870; width: 80px; height: 80px; -webkit-animation: spin 1.4s linear infinite; animation: spin 1.4s linear infinite; }
 /* Spin properties */
 @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } 
}

[draggable] { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; cursor:move!important; -webkit-user-drag: element; -khtml-user-drag: element; }

li.drag {        position: relative; }
li.drag::after {  content: ''; top: 0; left: 0; right: 0; bottom: 0; position: absolute; }
ul.drop {        -ms-touch-action: none; touch-action: none; display:flex; flex-wrap:wrap; min-height:20px; width:100%;}
ul.drop li {     font-size:11px; }
ul.vertical {    display:block!important; }
ul.vertical li { display:table!important; }

/*################################ Common ###################################*/

.z-op {  outline:none; cursor:pointer;}

a{ color:#000000; background-color:transparent;-webkit-text-decoration-skip:objects; text-decoration:none; font-weight:bold; }
a:active,a:hover{ outline-width:0; }

button,a.btn { -webkit-text-decoration-skip:objects; text-decoration:none; font-weight:bold; background-size:contain; background-position: center; background-repeat: no-repeat; border:none; border-radius:3px; display: inline-block; font-family: "Courier New", serif; font-size: 14px; vertical-align:top; outline:none; overflow:hidden; text-align:center; text-decoration:none!important; white-space:nowrap; padding:2px; margin:0px; }
button:hover, a.btn:hover {  opacity:0.7; }
button:active,a.btn:active { opacity:0.5; }

button.menu, a.menu {  height: 52px; min-width:52px; float:left; border-radius: 6px!important; padding: 4px; margin: 5px 2px; background-color:#FFFFFF; border:1px solid #9CA6B0; color:#000000; }
button.menu:hover,a.menu:hover { box-shadow:4px 4px 4px 0 rgba(0,0,0,0.3); font-weight: bold; border: 1px solid #000000; }
button.menu > img,a.menu > img{  max-height:43px; }

a.text {  padding:2px!important; }
