/* Main System CSS 

Use a theme together with this one to get proper color end result

Hint: https://htmlcolorcodes.com/color-picker

With standard margin @ 3px we need to remove 6px from all heights and widths

*/

/* **************************** HTML elements ************************ */

* {      box-sizing: border-box; font-size:11px; }
body {   margin:0px; padding:0px; z-index:1; font-family:Verdana,sans-serif;}
iframe { border-style: none; border-width: thin; height:100%; width:100%; }
div {    z-index:100; }
pre {    margin:0px; }
details{ display:inline; }
h1 {     font-size:16px; font-weight: bold; text-align:center; margin:4px 0px 4px 0px; white-space:nowrap; text-overflow:ellipsis; clear:both; }
button::-moz-focus-inner { border-style: none; padding: 0; }
select,input[type='text'],input[type='url'],input[type='email'],input[type='password'],input[type='date'],input[type='time'] { 
 -webkit-appearance: none; background-color: transparent; border:solid 1px; border-color:transparent; border-bottom:dotted 1px #F1F1F1; color: #000000;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}

/***************************************  Login Model *****************************************/

article.login {  border:solid 1px #9CA6B0; width:auto; height:auto;}
article.login input:focus { border-color:black; }
article.login form { display:inline; float:left; }
article.login h1 { margin:10px!important; }
article.login button { margin:10px!important; }

/***************************************** Menu Model *****************************************/

button.menu { 
 -webkit-text-decoration-skip:objects; background-color:#FFFFFF; background-size:contain; background-position:center; background-repeat:no-repeat; 
 border:1px solid #9CA6B0; border-radius:6px; color:#000000;  display: block; float:left; font-family: "Courier New", serif; font-size: 14px; font-weight:bold;
 height: 52px; margin: 5px 2px; min-width:52px; outline:none; overflow:hidden; padding:4px; text-align:center; text-decoration:none!important;
 white-space:nowrap;
}
button.menu:active { opacity:0.5; }
button.menu:hover { opacity:0.7; box-shadow:4px 4px 4px 0 rgba(0,0,0,0.3); font-weight: bold; border: 1px solid #000000; }
button.menu > img {  max-height:43px; }
button.right   {  float:right!important; }

/*************************************** Content Model *****************************************/

header {  height: 66px; width:100vw; padding-left:5px; overflow:auto; }
nav {     height: 34px; width:100%; display:block; box-shadow: 0 5px 2px -2px rgba(0,0,0,0.3); overflow:hidden;}
main {    height: calc(100vh - 100px);  width:100vw; display:flex }
section { float:left; height: 100%; width:auto; overflow-y: scroll; }
section.content-left { min-width:max-content; overflow-x:hidden; width:25%; }
section.content-right { overflow-x:scroll;}

nav ul {  list-style-type:none; margin:0px ;padding:0px; overflow:hidden; }
nav li {  height:34px; display:block; float:left; background-color: transparent; }
nav li.dropdown ul { display:none; position: absolute;  min-width: 60px; overflow:auto; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 200; }
nav li.dropdown:hover ul { display:block; }
nav li.dropdown > ul > li { clear:left; }
nav li.navinfo {  background-color:#00CC66; color:#FFFFFF; font-weight:bold;}
nav li.right   {  float:right!important; }
nav button,nav label { font-size:14px; padding:8px; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; }
nav button:active{ opacity:0.8; }
nav button.reload { background-position: center; background-repeat: no-repeat; background-size: contain; width:100%; margin: 0px 10px; height:100%; }
nav button.navinfo:hover{ color:#FFFFFF!important; }

article {        border-radius: 2px; background-color:#FFFFFF; margin: 3px; overflow:hidden; padding:2px; float:left; }
article:hover {  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2); }

/***************************************  Info  Model *****************************************/

article.info { resize:horizontal; width:max-content; z-index:101;}
article.info form { display:block; }
div.info { display:grid; margin:2px 0px 2px 0px; }
div.col2 { grid-template-columns: max-content auto;}
div.col3 { grid-template-columns: max-content auto max-content;}
div.info > * {  overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding:3px 0px 3px 6px; font-style:italic;}
div.info *[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
div.info > select, div.info > input[type='text'], div.info > input[type='url'], div.info > input[type='email'], div.info > input[type='password'], div.info > input[type='date'], div.info > input[type='time'] {
 overflow:visible;  width: 99%; font-style:normal;
}
div.info > input[type='checkbox'] { width:22px; }

div.info input:-moz-read-only { font-style:italic; }
div.info input:read-only {      font-style:italic; }
div.info input:-webkit-input-placeholder { color: #9CA6B0; }
div.info input:-moz-placeholder {          color: #9CA6B0; opacity:1; }
div.info label {  font-weight:bold; font-style:normal!important;}

button.info { height:22px; border:none; outline-width:0; border-radius:3px; margin-left:2px;}
button.info:hover {  opacity:0.9; box-shadow:0px 2px rgba(0,0,0,0.3); }
button.info:active { opacity:0.7; box-shadow:0px 1px rgba(0,0,0,0.3); transform: translateY(1px); }

textarea.info { height:70px; width:300px; }

/***************************************  List Model *****************************************/

button.text {          font-weight:bold; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; }

article.table {        z-index:101; height:calc(100% - 6px); width:calc(100% - 6px); overflow-y:scroll; }
div.table {            display: table; width:99% }
div.table .thead {     display: table-header-group; }
div.table .thead > div { font-size:14px; display: table-cell; vertical-align: middle; font-weight: bold; text-align: center;  padding: 3px 2px 6px 4px; }
div.table .tbody {     display: table-row-group; }
div.table .tbody > div { display: table-row; }
div.table .tbody > div:nth-child(even) { background-color: #FFFFFF; }
div.table .tbody > div:nth-child(odd)  { background-color: #F1F1F1; }
div.table .tbody > div > div { display:table-cell; vertical-align: middle; overflow:hidden; text-overflow:ellipsis; padding:1px 0px 0px 3px; white-space:nowrap; }
div.table .tfoot {     display: table-footer-group; }

/*************************************** Report Model *****************************************/

article.report {       z-index:101; height:auto; width:calc(100% - 6px); overflow-y:scroll; overflow-x:hidden; }
article.report div {   white-space:unset!important; }

/*************************************** Line Input Model ****************************************/

article.lineinput > div { display:flex; }

/*************************************** Code Model ****************************************/

article.code { width:calc(100% - 6px); resize:horizontal; }
article.code > span { font-family:Courier New, serif; display:block }

/*************************************** Text Model ****************************************/

article.text > p { margin:1px; }

/************************************** JS tools ********************************************/

div.overlay { position: absolute; top:0px; bottom: 0px; left: 0px; right: 0px; z-index:10000; display:flex; justify-content:center; align-items:center; overflow:hidden; background-color: rgba(0,0,0,0.2); }
div.loader {  border: 16px solid #D5DADD; border-radius: 50%; border-top: 16px solid #5C6870; width: 80px; height: 80px; -webkit-animation: spin 1.4s linear infinite; animation: spin 1.4s linear infinite; }
 /* Spin properties */
 @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } 
}

/************************************************** EXTRA ****************************************************/

div.centered { justify-content:space-evenly; display:flex; flex-wrap:wrap; width:100%; height:max-content; }
div.state { border: 1px solid #9CA6B0; border-radius:16px; height:16px; width:16px; display:inline-block; }

/******************************************* EXTRA NOT FOUND YET *********************************************/
/*

.title {    text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed; }
.maxed {    width:99%; }
.left {     float:left; }
.right   {  float:right!important; }
.inline {   display:inline; }
.small-text {  font-size:9px; }

div.rack-indx { font-weight:bold; font-size:8px; color:grey; padding:2px; }
div.rack-data { border: solid 2px grey; font-size:12px; text-align:center;}

span.results { font-size:9px; float:right; text-overflow:ellipsis; overflow:hidden; font-family: Verdana,sans-serif; }

div.network { width:100%; height:500px; }


*/
