/* Main System CSS 

Use a theme together with this one to get proper color end result

Hint: https://htmlcolorcodes.com/color-picker

With standard margin @ 3px we need to remove 6px from all heights and widths

*/

:root {
  --std-txt: 11px;
  --head-txt: 16px;
  --mid-txt: 14px;
  --border-size:1px;
  --header-height:64px;
  --nav-height:34px;
  --high-color:#FFFFFF;
}

/* **************************** HTML elements ************************ */

* {      box-sizing: border-box; font-size:var(--std-txt); }
article { border-radius: 4px; background-color:#FFFFFF; margin: 3px; overflow:hidden; padding:4px; float:left; }
article:hover {  box-shadow:0px 0px 2px 2px rgba(0,0,0,0.2); }
body {   margin:0px; z-index:1; font-family:Verdana,sans-serif;}
br { clear:both; }
button::-moz-focus-inner { border-style: none; }
details{ display:inline; }
div {    z-index:100; }
h1 {     font-size:var(--head-txt); font-weight: bold; text-align:center; margin:4px; white-space:nowrap; text-overflow:ellipsis; clear:both; }
iframe { border-style: none; border-width: thin; height:100%; width:100%; }
pre {    margin:0px; }
select,input[type='text'],input[type='url'],input[type='email'],input[type='password'],input[type='date'],input[type='time'] { 
 -webkit-appearance: none; background-color: transparent; border:solid var(--border-size); border-color:transparent; border-bottom:dotted var(--border-size) #F1F1F1; outline:none;
}
select:focus,input:focus,textarea:focus { border-color:var(--high-color)!important; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}

/***************************************  Login Model *****************************************/

div.login { position: absolute; height:100vh; width:100vw; display:flex; justify-content:center; align-items:center; background-color: rgba(0,0,0,0.2); }
article.login {  border:solid var(--border-size) #9CA6B0; width:auto; height:auto;}
article.login input:focus { border-color:black!important; }
article.login div.left { float:left; }
article.login h1 { margin:var(--head-txt); }
article.login button { margin-right:var(--head-txt); margin-bottom:var(--head-txt); }

/***************************************** Menu Model *****************************************/

button.menu { 
 -webkit-text-decoration-skip:objects; background-color:#FFFFFF; background-size:contain; background-position:center; background-repeat:no-repeat; 
 border:var(--border-size) solid #9CA6B0; border-radius:6px; display: block; float:left; font-family: "Courier New", serif; font-size:var(--mid-txt); font-weight:bold;
 height: 52px; margin: 5px 2px; min-width:52px; outline:none; overflow:hidden; padding:4px; text-align:center; 
 white-space:nowrap;
}
button.menu:active { opacity:0.5; }
button.menu:hover,button.menu:focus { opacity:0.7; box-shadow:4px 4px 4px 0 rgba(0,0,0,0.3); font-weight: bold; border: var(--border-size) solid #000000; }
button.menu > img {  max-height:43px; }
button.right   {  float:right!important; }

/*************************************** Content Model *****************************************/

header {  background-color: var(--head-color); height:var(--header-height); width:100vw; padding-left:5px; overflow:auto; }
nav {     background-color: var(--std-color); color:var(--std-txt-color)!important; height: var(--nav-height); width:100%; box-shadow: 0 5px 2px -2px rgba(0,0,0,0.3); overflow:hidden; margin-bottom:2px; }
main {    background-color: var(--main-color); height: calc(100vh - var(--header-height) - var(--nav-height) - 2px);  width:100vw; display:flex }
section { float:left; height: 100%; width:auto; overflow-y: scroll; }
section.content-left { min-width:max-content; overflow-x:hidden; width:25%; }
section.content-right { overflow-x:scroll;}

nav ul {  list-style-type:none; margin:0px ;padding:0px; overflow:hidden; z-index:1000; }
nav li {  display:block; float:left; background-color: transparent; }
nav li:hover{ background-color: var(--head-color); }
nav li.dropdown ul { position: absolute; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.3); background-color: var(--std-color); z-index:1000; max-height:0; overflow:hidden; -webkit-transition:300ms; -moz-transition:300ms; transition:300ms;}
nav li.dropdown:hover > ul, nav li.dropdown:focus > ul { max-height:calc(var(--nav-height) * 15); }
nav li.dropdown > ul > li { clear:left; float:unset; }
nav li.navinfo {  background-color:#00CC66; color:#FFFFFF; font-weight:bold;}
nav li.navinfo:hover, nav li.navinfo:focus { background-color:#00CC66; }
nav li.right   {  float:right!important; }

nav button,nav label { color:var(--std-txt-color); font-size:var(--mid-txt); padding:8px; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; height:var(--nav-height); z-index:1000}
nav button:hover, nav button:focus, nav label:hover, nav label:focus { color:var(--high-color); }
nav button:active{ opacity:0.8; }
nav button.reload { background-position: center; background-repeat: no-repeat; background-size: contain; margin: 0px 10px; height:var(--nav-height); width:var(--nav-height); }
nav button.navinfo:hover, nav button.navinfo:focus{ color:#FFFFFF!important; }

/***************************************  List Model *****************************************/

article.table {        height:calc(100% - 6px); width:calc(100% - 6px); overflow-y:scroll; }
button.text {          font-weight:bold; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; vertical-align:bottom; }
button.text::-moz-focus-inner { border-style: dotted; }
button.highlight {     color:var(--high-color); }
div.table {            display: table; width:100% }
div.table .thead {     display: table-header-group; }
div.table .thead > div { display: table-cell; vertical-align: middle; text-align: center; padding: 3px 2px 6px 4px; font-size:var(--mid-txt); font-weight:bold; }
div.table .thead > div * { font-size:var(--mid-txt); font-weight: bold; }
div.table .tbody {     display: table-row-group; }
div.table .tbody > div { display: table-row; }
div.table .tbody > div:nth-child(even) { background-color: #FFFFFF; }
div.table .tbody > div:nth-child(odd)  { background-color: #F1F1F1; }
div.table .tbody > div > div { display:table-cell; vertical-align: middle; overflow:hidden; text-overflow:ellipsis; padding:1px 4px 0px 4px; white-space:nowrap; }
div.table .tfoot {     display: table-footer-group; }
input.searchfield {    display:block; width: 99%; height: 22px; margin: 3px 0px 3px 0px; }

/***************************************  Info  Model *****************************************/

article.info { resize:horizontal; width:max-content; }
article.info form { display:block; }
div.info { display:grid; margin:2px 0px 2px 0px; }
div.col2 { grid-template-columns: max-content auto;}
div.col3 { grid-template-columns: max-content auto max-content;}
div.info *[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
div.info > select, div.info > input[type='text'], div.info > input[type='url'], div.info > input[type='email'], div.info > input[type='password'], div.info > input[type='date'], div.info > input[type='time'] {
 overflow:visible;  width: 99%; font-style:normal;
}
div.info > input[type='checkbox'] { width:22px; }
div.info input::-webkit-input-placeholder { color: #9CA6B0; }
div.info input::-moz-placeholder {          color: #9CA6B0; opacity:1; }
div.info label { font-weight:bold; font-style:normal!important; padding:3px; }
div.info span { font-size: calc(var(--std-txt) - 1px); overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-style:italic; padding:4px 0px 0px 3px; }

button.info { background-color:var(--std-color); color:var(--std-txt-color); height:22px; border:none; outline-width:0; border-radius:3px; margin-left:2px; margin-bottom:2px; box-shadow:0px 2px rgba(0,0,0,0.3) }
button.info:hover, button.info:focus {  opacity:0.9; color:var(--high-color)!important; }
button.info:active { opacity:0.7; box-shadow:0px 1px rgba(0,0,0,0.3); transform: translateY(1px); }

textarea.info { height:70px; width:300px; display:block; }

/*************************************** Report Model *****************************************/

article.report {       height:auto; width:calc(100% - 6px); overflow-y:scroll; overflow-x:hidden; }
article.report div {   white-space:unset!important; }

/*************************************** Line Input Model ****************************************/

article.lineinput { height:max-content; }
article.lineinput > div { display:flex; }

/*************************************** Code Model ****************************************/

article.code { width:calc(100% - 6px); resize:horizontal; }
article.code > span { font-family:Courier New, serif; display:block }

/*************************************** Text Model ****************************************/

article.text > p { margin:1px; }

/*************************************** File List Model ****************************************/

article.files { overflow-y:scroll; min-width:200px; }
article.files img { max-height:60px; }
article.files h1 {  text-transform: capitalize; }

/************************************** JS tools ********************************************/

div.overlay { position: absolute; top:calc(var(--header-height) + var(--nav-height)); bottom: 0px; left: 0px; right: 0px; z-index:200; display:flex; justify-content:center; align-items:center; background-color: rgba(0,0,0,0.4); }
div.loader {
  border-radius: 50%; color: var(--high-color);
  width: 1em;  height: 1em;
  -webkit-animation: bubbles 1.1s infinite linear; animation: bubbles 1.1s infinite linear;
  -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0);
}

@keyframes bubbles {
  0%, 100% { box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;  }
  12.5% {    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;    }
  25% {      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;  }
  37.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  50% {      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  62.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;  }
  75% {      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;  }
  87.5% {    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;  }
}

@-webkit-keyframes bubbles {
  0%, 100% { box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;  }
  12.5% {    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;    }
  25% {      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;  }
  37.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  50% {      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  62.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;  }
  75% {      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;  }
  87.5% {    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;  }
}

/* **************************************** EXTRA/LAST/IMPORTANT ******************************************* */

div.flexdiv { display:flex; flex-wrap:wrap; width:100%; height:max-content; }
div.centered { justify-content:space-evenly; }
div.states { padding: 1px; }
div.state { border: var(--border-size) solid #9CA6B0; border-radius:16px; height:16px; width:16px; display:inline-block; margin-left:2px; margin-right:2px;}
div.left { float:left; }

span.results { font-size:9px; float:right; text-overflow:ellipsis; overflow:hidden; }

button.ipam { float:left; font-size:9px; font-weight:bold; padding:0px; width:22px; color:#000000; margin:2px; }
button.warning { background-color:#CB2026; color:#FFFFFF; }


/* media dependent */
article.network { width:99%; }
div.network { height:500px; width:600px; resize:horizontal}
div.network > textarea { height:500px; width:99%; }
div.hidden { display:none; }
div.shown  { display:block; }
label.network { font-weight:bold; font-style:normal!important; }

/******************************************* EXTRA NOT FOUND YET *********************************************/
/*

div.rack-indx { font-weight:bold; font-size:8px; color:grey; padding:2px; }
div.rack-data { border: solid 2px grey; font-size:12px; text-align:center;}

*/
