/* black style sheet */

:root {
  --main-color: #F1F1F1;
  --head-color: #1A1A1A;
  --std-color: #000000;
  --high-color: #CB2026;
  --std-txt-color: #FFFFFF;
}

/*###################################### Info Buttons ########################################*/

nav button.reload {                                background-image: url(/images/btn-nav-reload.black.png); }
nav button.reload:hover, nav button.reload:focus { background-image: url(/images/btn-nav-reload.black.hover.png); }
