/* Blue style sheet */

:root {
  --main-color: #F1F1F1;
  --head-color: #3E84F4;
  --std-color: #2674F2;
  --high-color: #000000;
  --std-txt-color: #FFFFFF;
}

.red {    background-color:#DF3620!important; }
.green {  background-color:#00CC66!important; }
.blue {   background-color:#33CAFF!important; }

/*###################################### Content Model ########################################*/

nav button.reload {       background-image: url(/images/btn-nav-reload.blue.png); }
