/* Main System CSS */

:root {
 font-size:0.7em;
 --main-color:#F1F1F1;
 --head-color:#1A1A1A;
 --head-focus-color:#666666; 
 --head-txt-color:#FFFFFF;
 --high-color:#CB2026;
 --std-color:#FFFFFF;
 --std-txt-color:#000000;
 --ui-color:#000000;
 --ui-txt-color:#FFFFFF;
}

* { box-sizing:border-box; }
body { margin:0; font-family:Verdana,sans-serif; background-color:var(--main-color); -webkit-text-size-adjust:none; text-size-adjust: none; }
