[Unit]
Description=RIMS Network management system
After=docker.service

[Service]
User=root
WorkingDirectory=/usr/local/sbin
ExecStart=/etc/init.d/rims start
ExecStop=/etc/init.d/rims stop
ExecReload=/etc/init.d/rims restart
Restart=always

[Install]
WantedBy=multi-user.target
