<HEAD>
<TITLE>Stockholm Lab Management Center</TITLE>
<LINK REL='stylesheet' TYPE='text/css' HREF='z-style.css'>
<LINK REL="icon" HREF="images/sdcp.png" >
<BASE TARGET="main_cont">
<META CHARSET="UTF-8">
</HEAD>
<!-- -------- Main Menu -------- -->
<DIV class='z-main-menu' ID=div_main_menu>
 <A CLASS='z-btn z-menu-btn'	TITLE='General'			HREF=pane.cgi?view=navigate&type=demo><IMG SRC='images/icon-start.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Rack'			HREF=pane.cgi?view=rack><IMG SRC='images/icon-rack.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Device Management'	HREF=pane.cgi?view=devices><IMG SRC='images/icon-network.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Examine'			HREF=pane.cgi?view=examine><IMG SRC='images/icon-examine.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Users'			HREF=pane.cgi?view=users><IMG SRC='images/icon-users.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Documents'		HREF=pane.cgi?view=navigate&type=bookmark><IMG SRC='images/icon-docs.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='ESXi'			HREF=pane.cgi?view=navigate&type=esxi><IMG SRC='images/icon-servers.png'/></A>
 <A CLASS='z-btn z-menu-btn'	TITLE='Tool' 			HREF=pane.cgi?view=tools><IMG SRC='images/icon-tools.png'/></A>
</DIV>
<!-- ---- Main (i)frame for content ----- -->
<DIV CLASS=z-main-content ID=div_main_cont>
 <iframe ID=main_cont name=main_cont src='pane.cgi?view=navigate&type=demo'></iframe>
</DIV>
