/* Input CSS

- high-color
- std-txt-color

TODO: input-color: transparent
*/

.auto { color:var(--std-txt-color); font-weight:bold; padding:2px; text-transform:capitalize; vertical-align:middle }
.auto[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
.fixed { color:var(--std-txt-color); font-weight:bold; padding:2px; vertical-align:middle }
.fixed[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}


.input { -webkit-appearance:none; color:var(--std-txt-color); background-color: transparent; border-style:solid; border-width:1px; border-color:transparent; border-bottom-style:dotted; border-bottom-color:var(--main-color); outline:none; border-radius:2px; font-size:1rem; overflow:visible; vertical-align:middle }
.input:focus { border-bottom-style:solid; border-color:var(--high-color)!important; box-shadow: 0 0 6px -2px var(--high-color), 0 0 3px -1px var(--high-color) inset;}
.input::-webkit-input-placeholder { color: #9CA6B0; }
.input::-moz-placeholder { opacity:1; color: #9CA6B0; }
.input[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}
.input > option { background-color:var(--std-color); color:var(--std-txt-color); }

.checkbox { width:2rem; }

.span { color:var(--std-txt-color); font-size: calc(1rem - 1px); font-style:italic; overflow:hidden; padding: 2px; text-overflow:ellipsis; white-space:nowrap; }

.textarea { background-color:transparent; height:7rem; width:300px; display:block; font-size:1rem; color:var(--std-txt-color); border:1px solid var(--std-txt-color); }

.searchfield { -webkit-appearance:none; display:block; width: 99%; height:2rem; margin: 3px 0 3px 0; color:var(--std-txt-color); background-color: transparent; border-style:solid; border-width:1px; border-color:transparent; border-bottom-style:dotted; border-bottom-color:var(--main-color); outline:none; border-radius:2px; font-size:1rem; overflow:visible; padding-left:2px }
.searchfield:focus { border-bottom-style:solid; border-color:var(--high-color)!important; box-shadow: 0 0 6px -2px var(--high-color), 0 0 3px -1px var(--high-color) inset;}
.searchfield::-webkit-input-placeholder { color: #9CA6B0; }
.searchfield::-moz-placeholder { opacity:1; color: #9CA6B0; }
.searchfield::-webkit-search-cancel-button{ position:relative; }

.search { -webkit-appearance:none; height:1.9rem; margin: 3px 0 3px 0; color:var(--std-txt-color); background-color: transparent; border-style:solid; border-width:1px; border-color:transparent; border-bottom-style:dotted; border-bottom-color:var(--main-color); outline:none; border-radius:2px; font-size:1rem; overflow:visible; vertical-align:middle }
.search:focus { border-bottom-style:solid; border-color:var(--high-color)!important; box-shadow: 0 0 6px -2px var(--high-color), 0 0 3px -1px var(--high-color) inset;}
.search::-webkit-input-placeholder { color: #9CA6B0; }
.search::-moz-placeholder { opacity:1; color: #9CA6B0; }
.search::-webkit-search-cancel-button{ position:relative; }
