/* Navigation CSS 

- head-color
- ui-color
- ui-txt-color
- high-color

*/

@media only screen and (max-width: 600px) {
  /* For phones: */
 .button {     font-size:1.2rem }
 .infobutton { font-size:1.2rem }
 .dropbutton { font-size:1.2rem }  
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
 .button {     font-size:1.3rem }
 .infobutton { font-size:1.3rem }
 .dropbutton { font-size:1.3rem }
}

.main { background-color: var(--ui-color); min-height:3rem; width:100%; box-shadow: 0 5px 2px -2px rgba(0,0,0,0.3); overflow:hidden; margin-bottom:2px; clear:both; }
.list { margin:0; padding:0; overflow:hidden; background-color:transparent; list-style:none; }
.item { float:left; background-color: transparent; }
.item:hover{ background-color: var(--head-color); }
.dropDownList { margin:0; padding:0; list-style:none; overflow:hidden; position: absolute; box-shadow:0 8px 16px 0 rgba(0,0,0,0.3); background-color:var(--ui-color); z-index:1000; max-height:0; -webkit-transition:150ms; -moz-transition:150ms; transition:150ms;}
.dropDownItem:hover{ background-color: var(--head-color); }
.info {  background-color:#00CC66; font-weight:bold; float:right }
.info:hover, .info:focus { background-color:#00CC66; }

.button {     color:var(--ui-txt-color); padding:0 8px 0 8px; border:none; background-color:transparent; height:3rem; cursor:pointer; text-transform:capitalize; }
.dropbutton { color:var(--ui-txt-color); padding:0 8px 0 8px; border:none; background-color:transparent; height:3rem; cursor:pointer; text-transform:capitalize; width:100%; text-align:left; }
.infobutton { color:var(--ui-txt-color); padding:0 8px 0 8px; border:none; background-color:transparent; height:3rem; }
.button:hover, .dropbutton:hover, .button:focus, .dropbutton:focus{ color:var(--high-color); transition-duration:0.15s}
.button:active, dropbutton:active { opacity:0.8; }
