/* Table CSS 

- main-color
- std-color
- std-txt-color

*/

.report { border-radius: 4px; margin: 3px; overflow-x:hidden; overflow-y:scroll; padding:4px; background-color:var(--std-color); scrollbar-width:none; resize:horizontal; height:auto; width:calc(100% - 6px);}
.report::-webkit-scrollbar { display: none; }
.list {   border-radius: 4px; margin: 3px; overflow-x:hidden; overflow-y:scroll; padding:4px; background-color:var(--std-color); scrollbar-width:none; resize:horizontal; height:calc(100% - 6px); width:calc(100% - 6px);}
.list::-webkit-scrollbar { display: none; }
.report:hover, .list:hover { box-shadow:0 0 2px 2px rgba(0,0,0,0.2); }
.title { color:var(--std-txt-color); font-size:1.3rem; font-weight: bold; text-align:center; margin:0.5rem; text-transform:capitalize; }
.table { display: table; width:100%; }
.thead { display: table-header-group; }
.tbody { display: table-row-group; }
.trow { display: table-row; height:2.3rem; }
.trow:nth-child(even) { background-color:var(--std-color); }
.trow:nth-child(odd) { background-color:var(--main-color); }

.th { color:var(--std-txt-color); display:table-cell; padding: 3px 2px 6px 2px; vertical-align:middle; font-size:1.2rem; white-space:pre-line; word-wrap:anywhere; font-weight:bold; text-align: center; text-transform:capitalize; }
.th * { font-size:1.2rem; font-weight: bold; }
.td { color:var(--std-txt-color); display:table-cell; padding: 2px 2px 2px 2px; vertical-align:middle; font-size:1rem;   white-space:pre-line; word-wrap:anywhere; }
.td:last-child{ min-width:max-content; white-space:nowrap; }
