/* Main System CSS 

With standard margin @ 3px need to remove 6px from all heights and widths, change accordingly with different media sizes

*/

:root {
 font-size:0.7em;
 --main-color:#F1F1F1;
 --head-color:#1A1A1A;
 --high-color:#CB2026;
 --std-color:#FFFFFF;
 --std-txt-color:#000000;
 --ui-color:#000000;
 --ui-txt-color:#FFFFFF;
}

/* **************************** HTML elements ************************ */

@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}

* { box-sizing: border-box; color:var(--std-txt-color); }
article { border-radius: 4px; margin: 3px; overflow:hidden; padding:4px; float:left; background-color:var(--std-color); }
article:hover {  box-shadow:0 0 3px 3px rgba(0,0,0,0.2); }
body { margin:0; font-family:Verdana,sans-serif; background-color:var(--main-color); }
br { clear:both; }
button::-moz-focus-inner { border-style: none; }
div { z-index:100; }
h1 { font-size:1.3rem; font-weight: bold; text-align:center; margin:4px; white-space:nowrap; text-overflow:ellipsis; clear:both; text-transform:capitalize; }
iframe { border-style: none; border-width: thin; height:100%; width:100%; }
p { margin:2px; }
pre { font-size:1rem; margin:0; }
select,input[type='text'],input[type='url'],input[type='email'],input[type='password'],input[type='date'],input[type='time'] { 
 -webkit-appearance: none; background-color: transparent; border-style:solid; border-width:1px; border-color:transparent; border-bottom-style:dotted; border-bottom-color:var(--main-color); outline:none; z-index:700; border-radius:2px; font-size:1rem;
}
select:focus,input:focus,textarea:focus { border-bottom-style:solid; border-color:var(--high-color)!important; box-shadow: 0 0 6px -2px var(--high-color), 0 0 3px -1px var(--high-color) inset;}
option { background-color:var(--std-color); color:var(--std-txt-color); }
span { background-color:transparent; }

.red {    background-color:#CB2026!important; }
.green {  background-color:#26CB20!important; }
.grey {   background-color:#9CA6B0!important; }
.orange { background-color:orange!important;  }

/***************************************  Login Model *****************************************/

div.login { position: absolute; height:100vh; width:100vw; display:flex; justify-content:center; align-items:center; background-color: rgba(0,0,0,0.2); }
article.login {  border:solid 1px #9CA6B0; width:auto; height:auto; padding:1rem;}
article.login h1 { margin:1.3rem; }

/***************************************** Menu Model *****************************************/

button.menu { 
 -webkit-text-decoration-skip:objects; background-color:#FFFFFF; background-size:contain; background-position:center; background-repeat:no-repeat;
 border:1px solid #9CA6B0; border-radius:4px; color:#71808E; float:left; font-family: "Courier New", serif; font-size:1.3rem; font-weight:bold;
 height:calc(5rem - 10px); margin:3px 2px; min-width:4rem;  overflow:hidden; padding:4px; text-align:center; white-space:nowrap;
}
button.menu:hover, button.menu:focus { opacity:0.9; border:1px solid #000000; }
button.menu > i { font-size:3rem; color:#71808E; background-color:transparent; }
button.menu > img {  max-height:3rem; }

/*************************************** Content Model *****************************************/

header {  background-color: var(--head-color); height:5rem; width:100vw; padding-left:4px; padding-right:4px; overflow:hidden; }
main {    background-color: var(--main-color); height:calc(100vh - 8rem - 2px); width:100vw; display:flex }
section.content-left { min-width:max-content; overflow:hidden; width:25%; background-color:transparent; position:relative; top:0; bottom:0; }
section.content-right { overflow:scroll; background-color:transparent; width:auto; }

nav { background-color: var(--ui-color); color:var(--ui-txt-color)!important; height:3rem; width:100%; box-shadow: 0 5px 2px -2px rgba(0,0,0,0.3); overflow:hidden; margin-bottom:2px; clear:both; }
ul.nav {  margin:0 ;padding:0; overflow:hidden; background-color:transparent; }
li.nav {  display:block; float:left;background-color: transparent; }
li.nav:hover{ background-color: var(--head-color); }
ul.dropdown { margin:0 ;padding:0; overflow:hidden; position: absolute; box-shadow:0 8px 16px 0 rgba(0,0,0,0.3); background-color:var(--ui-color); z-index:1000; max-height:0; -webkit-transition:150ms; -moz-transition:150ms; transition:150ms;}
li.dropdown { display:block; background-color:transparent; }
li.navinfo {  background-color:#00CC66; color:white; font-weight:bold;}
li.navinfo:hover, nav li.navinfo:focus { background-color:#00CC66; }
li.right { float:right; }

nav button,nav label { color:var(--ui-txt-color); font-size:1.3rem; padding:0 8px 0 8px; line-height:3rem; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; height:3rem; z-index:1000; }
nav button:hover, nav button:focus, nav label:hover, nav label:focus { color:var(--high-color); transition-duration:0.15s}
nav button:active{ opacity:0.8; }
nav button.fa { padding:0; width:3rem; }
nav button.fa > i { font-size:2.1rem; padding:0.45rem; }
nav button.navinfo:hover, nav button.navinfo:focus{ color:var(--ui-txt-color)!important; }

/***************************************  List Model *****************************************/

article.table { height:calc(100% - 6px); width:calc(100% - 6px); overflow-y:scroll; }
div.table { display: table; width:100% }
div.thead { display: table-header-group; }
div.thead > div { display: table-cell; text-align: center; padding: 3px 2px 6px 4px; font-size:1.2rem; font-weight:bold; text-transform:capitalize; }
div.thead > div * { font-size:1.2rem; font-weight: bold; }
div.tbody { display: table-row-group; }
div.trow { display: table-row; }
div.trow:nth-child(even) { background-color:var(--std-color); }
div.trow:nth-child(odd) { background-color:var(--main-color); }
div.trow > div { background-color:transparent; display:table-cell; vertical-align: middle; overflow:hidden; text-overflow:ellipsis; padding:1px 4px 0 4px; white-space:nowrap; }
input.searchfield { display:block; width: 99%; height:2rem; margin: 3px 0 3px 0; }

button.text { font-weight:bold; border:none; display:inline-block; position:relative; cursor:pointer; background-color:transparent; vertical-align:bottom; z-index:800; font-size:1rem; }
button.text::-moz-focus-inner { border-style: dotted; }
button.text:hover,button.text:focus { color:var(--high-color)!important; }

/***************************************  Info  Model *****************************************/

article.info { resize:horizontal; width:max-content; }
article.info textarea { height:6rem; width:300px; display:block; }
div.info { display:grid; margin:2px 0 2px 0; align-items:center; grid-gap:1px; }
div.info *[title]{ text-decoration-line: underline; text-decoration-style:dashed; -webkit-text-decoration-line: underline; -webkit-text-decoration-style:dashed;}

label.info { font-weight:bold; padding:2px; text-transform:capitalize; }
select.info, input.info[type=text], input.info[type=url], input.info[type=email], input.info[type=password], input.info[type=date], input.info[type=time] {  overflow:visible;  width: 99%; }
input.info[type='checkbox'] { width:2rem; }
input.info::-webkit-input-placeholder { color: #9CA6B0; }
input.info::-moz-placeholder { opacity:1; color: #9CA6B0; }
span.info { font-size: calc(1rem - 1px); font-style:italic; overflow:hidden; padding: 2px; text-overflow:ellipsis; white-space:nowrap;}
button.info { background-color:var(--ui-color); border:none; color:var(--ui-txt-color); height:2rem; outline-width:0; border-radius:4px; margin-left:1px; margin-right:1px; }
button.info:hover, button.info:focus {  opacity:0.9; color:var(--high-color)!important; transition-duration:0.15s; }
button.info:active { opacity:0.7; transform: translateY(1px); }
button.fa {  width:2rem; padding:0; }
button.fa > i{ font-size:1.4rem; background-color:transparent; color:var(--ui-txt-color); }
button.fa > i:hover,button.fa > i:focus { color:var(--high-color)!important; transition-duration:0.15s; }

/*************************************** Report Model *****************************************/

article.report { height:auto; width:calc(100% - 6px); overflow-y:scroll; overflow-x:hidden; }

/*************************************** Line Input Model ****************************************/

article.lineinput { height:max-content; }
article.lineinput > div { display:inline-flex; white-space:nowrap;}
article.lineinput input,article.lineinput select { width:auto!important; }
/*************************************** Code Model ****************************************/

article.code { width:calc(100% - 6px); resize:horizontal; }
article.code > span { font-family:Courier New, serif; display:block }

/*************************************** Text Model ****************************************/

article.text > p { margin:1px; }

/*************************************** File List Model ****************************************/

article.files { overflow-y:scroll; min-width:200px; }
article.files img { max-height:60px; }

/************************************** JS tools ********************************************/

div.overlay { position: absolute; top:8rem; bottom:0; left:0; right:0; z-index:900; display:flex; justify-content:center; align-items:center; background-color: rgba(0,0,0,0.4); }
div.loader {
  background-color:transparent; border-radius: 50%; color: var(--high-color);
  width: 1em;  height: 1em;
  -webkit-animation: bubbles 1.1s infinite linear; animation: bubbles 1.1s infinite linear;
  -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0);
}

@keyframes bubbles {
  0%, 100% { box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;  }
  12.5% {    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;    }
  25% {      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;  }
  37.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  50% {      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  62.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;  }
  75% {      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;  }
  87.5% {    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;  }
}

@-webkit-keyframes bubbles {
  0%, 100% { box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;  }
  12.5% {    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;    }
  25% {      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;  }
  37.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  50% {      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;  }
  62.5% {    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;  }
  75% {      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;  }
  87.5% {    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;  }
}

/* **************************************** EXTRA/LAST/IMPORTANT ******************************************* */

div.left { float:left!important; }
div.flexdiv { display:flex; flex-wrap:wrap; width:100%; height:max-content; }
div.centered { justify-content:space-evenly; background-color:transparent; }
div.states { background-color:transparent; }
div.state { border-radius:50%; height:1.5rem; width:1.5rem; display:inline-block; margin-left:2px; margin-right:2px;}

span.results { font-size:0.8rem; float:right; text-overflow:ellipsis; overflow:hidden; }

button.ipam { float:left; font-size:0.8rem; font-weight:bold; padding:0; width:2rem; color:#000000; margin:2px; }

/* media dependent */
article.network { width:99%; }
div.network { height:500px; width:600px; resize:horizontal}
div.network > textarea { height:500px; width:99%; }
div.hidden { display:none; }
div.shown  { display:block; }

/******************************************* RACK *********************************************/

div.rack { display:grid; margin:10px; text-align:center }
div.rack-left { color:grey; font-weight:bold; font-size:0.9rem; grid-column:1; border-right:1px solid grey;}
div.rack-right { color:grey; font-weight:bold; font-size:0.9rem; grid-column:3; border-left:1px solid grey;}
div.rack-data { border:solid 2px grey; display:inherit; grid-column:2; background-color:var(--ui-color); }
